* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, rgb(125, 157, 38), rgb(13, 80, 33));
}

:root {
    --winning-blocks: rgb(7, 62, 7);
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.tictactoe {
    position: relative;
    /* height: 25rem; */
    width: 25rem;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    display: grid;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

.display-screen {
    height: 4rem;
    border: 2px solid white;
    display: flex;
}

#display {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.turns {
    height: 3rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
}

.cmplt-box {
    height: 15rem;
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 3rem;
    color: white;
}

/* .cmplt-box.fill {
    background-color: beige;
}

.cmplt-box.cmplt-box.fill .box {
    border: none;
} */

.cmplt-box>div {
    border: 1px solid white;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.cmplt-box>div:hover {
    transform: scale(0.90);
}

.restart {
    height: 3rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
}

.btn {
    padding: 0.5em 1.5em;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(13, 80, 33);
    cursor: pointer;
}

button:hover {
    transform: scale(0.90);
}



/* Dark Theme */

.container.dark {
    background-color: #000;
}

.container.dark .tictactoe {
    box-shadow: 0 0 30px grey;
}

.container.dark .display-screen {
    border: 2px solid grey;
}

.container.dark .turns {
    border: 2px solid grey;
}

.container.dark .cmplt-box {
    border: 2px solid grey;
}

.container.dark .cmplt-box>div {
    border: 2px solid grey;
}

.container.dark .restart {
    border: 2px solid grey;
}

.container.dark .btn {
    border: 2px solid grey;
}